* {
  margin: 0;
  font-family: sans-serif;
}

.main {
  padding: 3rem;
  background-color: burlywood;
  color:brown;
}

h1 {
  font-size: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0.7rem;
  padding: 1rem;
  background-color: brown;
  color: burlywood;
  border: 0;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

input[type='text'], input[type='password'] {
  height: 2rem;
  margin: 0.7rem;
}

.dark {
  background-color: brown;
  color: burlywood;
}

.light {
  background-color: burlywood;
  color: brown;
}

#outerBox {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: brown;
  color: burlywood
}

#innerBox {
  width: 5rem;
  height: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: burlywood;
  color: brown;
}